/* ~~~~~~~~~~~~~~ */
/* color variables */ 
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
}
body {
  background: var(--primaryColor);
  font-family: monospace;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 5px;
  margin: 0;
  color: var(--secondaryColor);
  text-shadow: 0 20px 25px #2e2e21, 0 40px 60px #2e2e21;
}
.main::before,
.main::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  display: block;
  padding: 0.9em 0.4em;
  border: 15px solid var(--secondaryColor);
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: animate 10s ease-in-out infinite alternate;
}
.main::before {
  border-color: var(--secondaryColor) var(--secondaryColor) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}
.main::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--secondaryColor) var(--secondaryColor);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
}
@keyframes animate {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
